.post-img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 33vh;
}
.nav-link{
    padding-top: 0px;
}
.dropdown{
    padding-top: 10px;
}
.fas{
    padding-top: 10px;
}